body{
    margin:0;
    padding: 0; ;
    background-image: url("./images/bg-bottom.svg");
    display:flex;
    justify-content: center;
    min-height:100vh;
    background-color: #f7eee538;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

b{
    font-size: larger;
}

.annually, .monthly{
    opacity: 50%;
}
.container{
    width:100%;
    background-image: url("./images/bg-top.svg") ;
    border:1px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 5rem;
    /* padding:2rem; */
    background-color: #e5e0ff52;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 2%;

}

.row1{
    /* height:5%; */
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}
.togglebox{
    display:flex;
    justify-content: center;
}

.togglebtn{
    padding-left:1%;
}
.bodyheader{
    align-self:center;
}

.row2{
    align-self: center;
    justify-content: space-around;
    display: flex;
  flex-wrap: wrap;
}

.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  align-self:center;
}

.card:hover {
    transition: 0.5s;
    transform:  scale(1.07 , 1.05);
  }

.card{
    z-index: 50;
    width:20rem;
    display: flex;
    flex-direction: column;
    margin:5px;
}
.cardbox{
    display:flex;
    flex-direction: column;
}

.cardheadbox{
    display: flex;
    height:5rem;
    justify-content: center;
}

.cardhead{
    align-self: center;
    display: flex;
    align-items: center;
    /* height:3rem; */

}

.price{
    align-self: center;
}

.data{
    display: flex;
    flex-direction: column;
    /* height:5rem; */
}

.data1, .data2, .data3{
    align-self: center;
    /* height: 1rem; */
}

.hr{
    align-self: center;
    width:80%;
}
.cardfooter{
    padding:5%;

    display: flex;
    flex-direction: column;
    margin-top: 27%;
}


.card2{
    background-color: #4E4FEB;
    color:#fff;
}


.card1 , .card3{
    background-color: #F9F9F9;
}

.btn2{
    background-color: #F9F9F9;
    color:#4E4FEB
}